<div id="main">

    <p id="title"><h1 class="text-center">Martin Luther King</h1></p>
  
    <h4 class="text-center">
     Lucho pacíficamente contra la segregación y discriminación racial en Estados Unidos.</h5>
    <h4 class="text-center">Recito el famoso discurso «I have a dream»</h5>
  
  
      <div id="img-div"> 
         <img id="image" src="https://ep01.epimg.net/elpais/imagenes/2018/04/03/album/1522764332_157446_1522772166_noticia_normal.jpg" alt="W3Schools.com" width="500" height="400">
        <p id="img-caption" class="text-center"> Sueño de discurso.
            El líder de los derechos civiles de los negros estadounidenses, Martin Luther King (1929 - 1968) se dirige a las multitudes durante la Marcha en Washington en el Lincoln Memorial, Washington DC, donde pronunció su discurso "Tengo un sueño". </p>
      </div>
  
      <table id="tribute-info">
          <tr>
             <th>Biografía</th>
          </tr>
          
            <tr><td>* Nació el 15 de enero de 1929 en Atlanta</td></tr>
            <tr><td>* Ingresa A los 15 años en la Morehouse College, universidad para jóvenes afroamericanos para estudiar sociología y tres años más tarde se graduó. se muda al noreste del país para mantener sus estudios de posgrado y así especializarse en teología</td></tr>
            <tr><td>* Consigue el nivel de doctor 4 años más tarde por la universidad de Boston</td></tr>
            <tr><td>* 1954 se hizo cargo de una iglesia en la ciudad de Montgomery</td></tr>
            <tr><td>* En 1963 dirigió junto con otras 250 000 personas, una marcha por Washington en la que defendió las condiciones de una vida e igualda de la población negra del sur del país. En esta protesta no violenta recitó su famoso discurso «I have a dream»</td></tr> 
            <tr><td>* Recibió el Premio Nobel de la Paz el 14 de octubre de 1964, con tan solo 35 años de edad y actualmente aun es la persona más joven en recibir esta gran distinción</td></tr>
            <tr><td>* Luego de recibir el Premio Nobel de la Paz, Martin Luther King continuó en su lucha por la equidad para con la raza negra, hasta el 4 de abril de 1968 cuando fue asesinado por James Earl Ray en un motel de Memphis</td></td>
        
      </table>
  
          <p class="text-center">“Tengo un sueño, un solo sueño, seguir soñando. Soñar con la libertad, soñar con la justicia, soñar con la igualdad y ojalá ya no tuviera necesidad de soñarlas”.</p>  
          <p class="text-center">Martin Luther King Jr.</p>
      
  
      <table  id="tribute-link" >
          <tr>
            <td> <h4>Para conocer mas de la vida Luther King</h4></td>
            <td> <a href=" https://www.biografiasyvidas.com/biografia/k/king.htm" target="_blank" alt=""><h4>haz click</h4> </a></td>
          </tr>
      </table>
  
  
    </div>
