.text-center {
    text-align: center;
  }
  
  #main {
    background: lightgoldenrodyellow;
    margin: 0;
  }
  
  #img-div {
    padding: 10px;
    background: white;
    margin-left: 2%;
    margin-right: 2% ;
  }
  
  #image {
    border-radius: 50px;
    margin-left: calc((100vw - 58px - 500px) / 2);  
  }
  
  #tribute-info {border-style: solid; width:75%; margin-left: 12%; margin-top: 2%;}
  
  
  #tribute-link {
    margin-left: calc((100vw - 40px - 312px) / 2);
  }